.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(90deg, rgba(255, 123, 121, 1) 0%, rgba(179, 241, 255, 1) 100%);
    transform-origin: 0%;
}